# PostgreSQL
POSTGRES_USER=itouser
POSTGRES_PASSWORD=itopassword
POSTGRES_DB=itocook_db

# Directus
DIRECTUS_KEY=itocook-secret-key-change-me
DIRECTUS_SECRET=itocook-secret-value-change-me
DIRECTUS_ADMIN_EMAIL=admin@itocook.com
DIRECTUS_ADMIN_PASSWORD=admin

# Frontend
NUXT_PUBLIC_DIRECTUS_URL=http://directus:8055
